---
import {getCollection} from 'astro:content';
import Layout from '~/layouts/Layout.astro';

import Header from '~/components/Header/Header';
import Footer from '~/components/Footer/Footer.astro';

import SectionHero from '~/sections/Hero.astro';
import SectionSummary from '~/sections/Summary.astro';
import SectionAdditionalInfo from '~/sections/AdditionalInfo.astro';
import SectionPhotoPreview from '~/sections/PhotoPreview.astro';
import SectionFeedback from '~/sections/Feedback.astro';
import SectionPizzaPromote from '~/sections/PizzaPromote.astro';
import SectionForSchools from '~/sections/ForSchools.astro';
import SectionQuestionAndAnswers from '~/sections/QuestionAndAnswers.astro';
import SectionSocialNetworks from '~/sections/SocialsNetworks.astro';
import SectionMap from '~/sections/Map.astro';
import ModalBookingEvent from "~/components/ModalBookingEvent/ModalBookingEvent";
import {TRIGGER_NAME} from "~/components/ModalBookingEvent/config"


const languages = [
    {
        label: 'en',
        active: true
    }
];
---
<script src='../components/ModalBookingEvent/modalBookingEventTrigger'></script>

<Layout
    title="title"
>
    <button
        id="modal-button"
        class="text-2xl text-black"
        data-react-trigger={TRIGGER_NAME}
    >
        Open
    </button>

    <ModalBookingEvent
        client:only="react"
    />
    <!--<Header-->
    <!--    translate={{test: ''}}-->
    <!--    languageList={languages}-->
    <!--    client:load-->
    <!--/>-->

    <SectionHero
        extraClass="mb-10"
    />
    <SectionSummary
        extraClass="mb-10"
    />

    <SectionAdditionalInfo
        extraClass="mb-10"
    />

    <SectionPhotoPreview
        extraClass="mb-10"
    />

    <SectionFeedback
        extraClass="mb-10"
    />

    <SectionPizzaPromote/>

    <SectionForSchools
        extraClass="mb-10"
    />

    <SectionQuestionAndAnswers
        extraClass="mb-20 md:mb-40"
    />

    <SectionSocialNetworks/>

    <SectionMap/>

    <Footer/>
</Layout>
