---
import {twMerge} from "tailwind-merge";

import CustomMap from '~/components/Map/Map';

interface Coordinates {
    lat: number;
    lng: number;
}

interface Point {
    coordinates: Coordinates;
    label: string;
    name: string;
    address: string;
}

interface Props {
    extraClass?: string;
    mapCenter: {lat: number, lng: number};
    points: Point[];
}

const {extraClass, mapCenter, points} = Astro.props;
---

<div class={
    twMerge(
        extraClass,
    )
}>
    <CustomMap
        pointsList={points}
        center={mapCenter}
        client:only="react"
    />
</div>
