---
import {Image} from 'astro:assets';
import {twMerge} from "tailwind-merge";

import CustomMap from '~/components/Map/Map';

interface Props {
    extraClass?: string;
    mapCenter: {lat: number, lng: number};
}

const {extraClass, mapCenter} = Astro.props;

---

<div class={
    twMerge(
        extraClass,
    )
}>
    <CustomMap
        pointsList={[mapCenter]}
        center={mapCenter}
        client:only="react"
    />
</div>
