---
import {twMerge} from "tailwind-merge";
import AccordionGroup from "~/components/AccordionGroup/AccordionGroup";

interface Translate {
    heading: string;
    questions: {
        question: string;
        answer: string;
    }[];
}

interface Props {
    extraClass?: string;
    translates: Translate;
}

const {extraClass, translates} = Astro.props;

---

<div class={
    twMerge(
        "container",
        extraClass,
    )
}>
    <h2 class="relative z-10 mb-10 font-black text-4xl md:text-5xl text-center uppercase mt-">
        {translates.heading}
    </h2>

    <AccordionGroup
        infoList={translates.questions}
        client:load
    />
</div>
